extends layout

block content
  if category 
    h1.li4 #{title} : #{category.name}    
  p Are you sure you want to delete this category?
  div.form-group
    form(method='POST' action='')
      input#formula.form-content(type='hidden' name='categoryid' value=category._id)
      button.btn.btn-primary(type='submit') Delete