html{
  background-color:#2E3440 !important;
}
body{
  background-color:#2E3440 !important;
}
.sidebar-nav{
  font-family: 'Rubik', sans-serif !important;
  font-weight: 400 !important;
  color:#D8DEE9 !important;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
a{
  padding:0.5em !important;
  color:#D8DEE9 !important;
  font-size: 1.125em !important;
  text-decoration: none !important;
  border-radius: 10px;
  transition:0.5s;
}
a:hover{
  background-color: #ECEFF455
}
li{
  margin-top: 1em;
}
label{
  font-size:1em !important;
}
.li2{
  color:#BF616A !important;
}
.li3{
  color:#D08770 !important;
}
.li4{
  color:#EBCB8B !important;
}
.li5{
  color:#B48EAD !important;
}
.li1{
  color:#A3BE8C !important;
}
.footer{
  color: #E5E9F055 !important;
}
.form-check-input:checked{
  background-color:#BF616A !important;
}
.form-control{
  background-color: #4c566a !important;
  border:1px solid #D8DEE9 !important;
  color:#D8DEE9 !important;
}
.MathJax{
  font-size:3em !important;
  text-align: left !important;
  margin-left: 20px !important;
}
#pad{
  margin-top: 20px;
  color:#D8DEE9 !important;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 400 !important;
}
h1{
  font-size: 2.25em !important;
  font-weight: 600 !important;
}
#title{
  color:#8FBCBB !important;
}